/*
    comentario valido en css
    inline > id > class > global
    el que le gana a todos es important
*/
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilos del menú principal */

#logo {
    float:left;
    height: 75px;
}

.menu-container {
    height: 200px;
    position: relative;
  }

.main-menu {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 75px;
}

.main-menu ul {
    margin: 0;
    position: absolute;
    top: 50%;
}

.main-menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: #111;
}

/* Estilos del home */

.home {
    border: 1px solid black;
    padding: 15% 0%;
    margin-bottom: 5%;
    text-align: center;
}

/* Estilos del contenido del resto de las secciones  */

#profile-pic {
    border-radius: 50%;
    width: 126px;
    height: 126px;
    float: left;
    padding-right: 1.5%;
}

.content-box {
    margin: 0% 5% 75% 5%;
}

/* Estilos de la cronologia  */
.logo-square {
    width: 150px;
    height: 150px;
}

.logo-rectangle {
    width: 350px;
    height: 200px;
}

.timeline-container {
    display: flex;
    justify-content: center;
    width:100%;
}

.timeline {
    
}

.timeline li:before { content: '\1F4BB'; margin-left: -20px; margin-right: 10px; }

/* Estilos del footer */

.footer {
    background-color: #111;
    width: 100%;
    height: 275px;
    padding: 1.5% 0%;
}

.footer h4 {
    color:#ddd;
}

.footer ul li { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    font-size: 11px;
    padding: 5px 0px;
}

.footer a {
    color:snow;
    text-decoration: none;
}

.footer-col1 {
    padding-left: 15px;
    background-color: #111;
    color:snow;
    font-size: 12px;
    width: 25%;
    float:left;
    height: 100%;
}

.footer-col1 h4 {
    text-transform: uppercase;
}

.footer-col2 {
    padding-left: 15px;
    background-color: #111;
    color:snow;
    font-size: 12px;
    width: 25%;
    float:left;
    height: 100%;
}

.footer-col2 h4 {
    text-transform: uppercase;
}

.footer-col3 {
    width: 25%;
    float:right;
}

.social {
    width: 25px;
    height: 25px;
    margin-right: 2px;
    border-radius: 50%;
    background-color: white;
}